.brandCard
{
    background-color: black;
    padding: 2vmin;
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.brandCard + .brandCard
{
    margin-left: 5vmin;
}